body
{
  #grad1
    height: 200px;
    background-image: linear-gradient(DarkSlateBlue, White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px
}

h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: lighter;
  background: -webkit-linear-gradient(White, MediumPurple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

h3 {
  font-size: 50px
}

.inputSection {
  margin: 10px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin-top: 0px
}

input {
  background-color: SlateBlue;
  font-family: "Lucida Console", Monaco, monospace;
  color: Snow;
  font-size: 15px;
  border-radius: 12px;
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

button {
 background-color: SlateBlue;
 border: none;
 color: Snow;
 padding: 5px 5px;
 margin-top: 0px;
 margin-bottom: 0px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-weight:lighter;
 font-size: 20px;
 border-radius: 30%;
}

button2 {
background-color: SlateBlue;
border: none;
color: Snow;
padding: 15px 15px;
margin-top: 0px;
margin-bottom: 100px;
text-align: center;
text-decoration: none;
display: inline-block;
font-weight: lighter;
font-family: "Lucida Console", Monaco, monospace;
font-size: 20px;
border-radius: 30%;
cursor: pointer;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: DarkSlateBlue;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 0px
}
